@font-face {
  font-family: "MyWebFont";
  src: url(../Apex\Mk3-Medium.otf);
}
* {
  font-family: "MyWebFont";
}

.task-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
}

.task-container .aside-left {
  width: 5%;
}

.task-container .main-content {
  width: 70%;
}

#date-modified {
  font-size: 13px;
  color: rgb(233, 170, 70);
}

[contenteditable="true"] {
  border: 1px solid #cccccc;
  border-radius: 5px;
}
